.navbar {
  background-color: #FEEECF;
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 15px;
  border-color: #FFCD97;
  font-family: "monospace", futura;
}

@font-face{
  font-family: "AmaticSC";
  src: url("/amatic-sc/AmaticSC-Regular.ttf");
}

h1{
  font-family: "AmaticSC";
  font-size: 18vw;
  color: #FF5300;
  text-align: center;
  
}

body{
  background-color: #FFF7D3;
}

#share {
  font-family: "AmaticSC";
  font-size: 35px;
  color: #FF5300;
  text-decoration: none;
  background:rgba(255, 255, 255, 50);
  border-color: #FF9C65;
  border-width: 5px;
  border-radius: 50px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 250px;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  

}

.shareButton {
  text-decoration: none;
  color:#FF5300;
  background-color: transparent;
  

}

.shareButton:hover {
  text-decoration: none;
  color:#FF5300;
  opacity: 1;
}

p.about {
  text-align: center;
  font-size: 40px;
  font-family:"AmaticSC"
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#search {
}
